<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Alumnos</h1>
    <h2>Buscar por id</h2>
    <form action="/alumnos/" method="post">
        <input type="text" name="response" id="">
        <button type="submit">Buscar</button>
    </form>
    <ul>
        {% for alumno in alumnos %}
            <li>{{alumno.nombre}} {{alumno.apellido}}</li>
        {% endfor %}
    </ul>
    <a href="/alumnos/crear/">Agregar alumno</a>
    <a href="/">Volver al Inicio</a>
</body>

</html>