<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Curso</title>
    <style>
        button {
            background-color: cadetblue;
            color: #fff;
        }
    </style>
</head>

<body>
    <h1>Editar Curso: {{curso.name}}</h1>
    <form action="/cursos/editar/{{curso.id}}/" method="post">
        <div>
            <input type="hidden" name="id_curso" value="{{curso.id}}">
        </div>
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="nombre_curso" value="{{curso.name}}">
        </div>
        <button type="submit">Actualizar</button>
    </form>
</body>

</html>