<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Profesores</h1>
    <h2>Buscar por id</h2>
    <form action="/profesores/" method="post">
        <input type="text" name="response" id="">
        <button type="submit">Buscar</button>
    </form>
    <ul>
        {% for profesor in profesores %}
            <li>{{profesor.nombre}} {{profesor.apellido}}</li>
        {% endfor %}
    </ul>
    <a href="/profesores/crear/">Agregar Profesor</a>
    <a href="/">Volver al Inicio</a>
</body>

</html>