<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesion</title>
    <style>
        h1 {
            text-align: center;
        }

        .flex {
            display: flex;
            justify-content: space-around;
            align-items: stretch;
        }

        .flex-items {
            flex-basis: 40%;
        }
    </style>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>

    <div class="flex">
        <div class="flex-item">
            <h1>Registro</h1>
            <ul>
                {% for e in register_errors%}
                <li>{{e}}</li>
                {% endfor %}
            </ul>
            <form action="/registro" method="post">
                <div>
                    <label for="">Nombre</label>
                    <input type="text" name="first_name" id="">
                </div>
                <div>
                    <label for="">Apellido</label>
                    <input type="text" name="last_name" id="">
                </div>
                <div>
                    <label for="">Email</label>
                    <input type="email" name="email" id="">
                </div>

                <div>
                    <label for="">Password</label>
                    <input type="password" name="pass" id="">
                </div>
                <div>
                    <label for="">Repetir password</label>
                    <input type="password" name="pass2" id="">
                </div>

                <div>
                    <button type="submit">Registrar</button>
                </div>

            </form>

        </div>

        <div class="flex-item">
            <h1>Inicio sesión</h1>
            <form action="/login/" method="post">
                <div>
                    <label for="">Email</label>
                    <input type="email" name="email" id="">
                </div>

                <div>
                    <label for="">Password</label>
                    <input type="password" name="pass" id="">
                </div>

                <div>
                    <button type="submit">Entrar</button>
                </div>
            </form>
        </div>


    </div>

</body>

</html>